
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fbfbfb;
}

button{
  padding:20px;
  margin: 30px 50px;
  border-radius:5px;
  cursor:pointer;
  outline:0px;
  color:rgba(0,0,0, .8);
  font-size: 25px;
}


.main-container { 
  width: 500px;
  height: 600px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0, .03);
  box-shadow: 0px 1px 3px rgba(0,0,0, .1);
}


.start-container, 
.quiz-container, 
.results-container,
.loading-container{

  height: 100%;
  text-align: center;

}

.loading-content{
  width: 100%;
  padding-top: 200px;

}

.start-header{
  padding-top: 55px;
  padding-bottom:30px;
  
}

.start-header > .display-4{
  font-size: 2.5rem;
}


.quiz-header{
  padding: 35px;
  height: 80px;
  
}

.quiz-content{
  min-height: 300px;
  
}


.question-box{
  position: relative;
  width: 90%; 
  margin:auto;
  color:rgba(0,0,0, .7);
}

.question-card{
  position: absolute;
  width: calc(100% - 20px);
  border:0px;

}

.question-card h5{
  font-weight: 600;
  margin-bottom:30px;
}

.question-card .card-text{
  font-size: 1.3rem;
}


.score-container{
  height: 15%;
  padding-top: 30px;
  font-size: 1.3rem;
  color:red;
}

.results-answers-container{
  height: 70%;
  overflow-y:scroll;
  text-align: left;
  border-top:1px solid rgba(0,0,0, .03);
  border-bottom:1px solid rgba(0,0,0, .03);
}

.results-answers{
  width: 80%;
  margin:auto;
  border: 1px solid rgba(0,0,0, .1);
}

.answer-container{
  color: rgba(0,0,0, .7);
  padding: 10px 10px 5px 20px;
  margin:20px auto;
}

.answer-section{
  display:flex;
}

.answer-question{
  flex:8;
  color: rgba(0,0,0, .8);
  line-height: 150%;
  margin-bottom:15px;
}

.answer-result{
  flex:2;
  text-align: center;
  margin-bottom:15px;
}

.correct-answer{
  color:green;
}

.wrong-answer{
  color:red;
}

/* animation */

.fade-enter{
  opacity:0;
  z-index: 1;
}

.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 200ms linear;
}

.fade-leave{
  opacity: 1;
}

.fade-leave.fade-leave-active{
  opacity: 0;
  transition: opacity 200ms linear;
}









